@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>BookShelf</h1>
    <p class="lead">La mejor libreria online.</p>

    <div class="col-md-9 right">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-search"></span>
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button">Buscar Libro</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 Filtros">
        <div>

        </div>
    </div>

    
    <div class="col-md-9">
        <h3>Novedades</h3>
        <div class="row-sm-6 row-md-4 Contenido">
            <div class="thumbnail">
                <img src="Img/libro.jpg" alt="...">
                <div class="caption">
                    <h4>ASP.NET MVC 4.5</h4>
                    <p>Este libro guía al lector a través de todo el proceso de construcción de aplicaciones Web, partiendo de los fundamentos más básicos.</p>
                    <p><a href="#" class="btn btn-info" role="button">Comprar</a> <a href="#" class="btn btn-default" role="button">Detalle</a></p>
                </div>
            </div>

            <div class="thumbnail">
                <img src="Img/libro2.jpg" alt="...">
                <div class="caption">
                    <h4>Android 4 Desarrollo de Aplicaciones.</h4>
                    <p>Este libro guía al lector a través de todo el proceso de construcción de aplicaciones Web, partiendo de los fundamentos más básicos.</p>
                    <p><a href="#" class="btn btn-info" role="button">Comprar</a> <a href="#" class="btn btn-default" role="button">Detalle</a></p>

                </div>

            </div>

            <div class="thumbnail">
                <img src="Img/libro3.jpg" alt="...">
                <div class="caption">
                    <h4>Visual Basic 2012</h4>
                    <p>Este libro guía al lector a través de todo el proceso de construcción de aplicaciones Web, partiendo de los fundamentos más básicos.</p>
                    <p><a href="#" class="btn btn-info" role="button">Comprar</a> <a href="#" class="btn btn-default" role="button">Detalle</a></p>

                </div>

            </div>

            <div class="thumbnail">
                <img src="Img/libro.jpg" alt="...">
                <div class="caption">
                    <h4>ASP.NET MVC 4.5</h4>
                    <p>Este libro guía al lector a través de todo el proceso de construcción de aplicaciones Web, partiendo de los fundamentos más básicos.</p>
                    <p><a href="#" class="btn btn-info" role="button">Comprar</a> <a href="#" class="btn btn-default" role="button">Detalle</a></p>
                </div>
            </div>

            <div class="thumbnail">
                <img src="Img/libro2.jpg" alt="...">
                <div class="caption">
                    <h4>Android 4 Desarrollo de Aplicaciones.</h4>
                    <p>Este libro guía al lector a través de todo el proceso de construcción de aplicaciones Web, partiendo de los fundamentos más básicos.</p>
                    <p><a href="#" class="btn btn-info" role="button">Comprar</a> <a href="#" class="btn btn-default" role="button">Detalle</a></p>

                </div>

            </div>

            <div class="thumbnail">
                <img src="Img/libro3.jpg" alt="...">
                <div class="caption">
                    <h4>Visual Basic 2012</h4>
                    <p>Este libro guía al lector a través de todo el proceso de construcción de aplicaciones Web, partiendo de los fundamentos más básicos.</p>
                    <p><a href="#" class="btn btn-info" role="button">Comprar</a> <a href="#" class="btn btn-default" role="button">Detalle</a></p>

                </div>
            </div>


        </div>
    </div>

</div>